<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Parks and Recreation - Los Angeles</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

        <div class="container container-fluid">
        <div id="grass">
            <a href="index.html"><img src="img/parks-n-rec.png" class="logo"></a>
        </div>
                <div>
                     <a href="where.html">
                        <div class="col-xs-12" id="where">
                            <div class="overlay bottom">
                           
                                <h1>Where to go <i class="fa fa-angle-right"></i></h1>
                            </div>
                        </div>
                    </a>
                    <a href="what.html">    
                        <div class="col-xs-12" id="what">
                            <div class="overlay bottom">
                                <h1>What to do <i class="fa fa-angle-right"></i></h1>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
